<div class="row border-bottom-outline">
    <div class="col-md-12 col-sm-12 col-xs-12"><h1>Fisa client: {{client.no}}</h1></div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb" style="margin: 0.25em 0;">
            <li><a [routerLink]="['/client/' + client.no]">Modifica client</a></li>
            <li><a [routerLink]="['/proiect']">Adauga proiect</a></li>
        </ol>
    </div>
</div>

<div class="form-group" style="margin-top: 1em">
    <label>Nume</label>
    <input type="text" class="form-control" [readonly]="true" [(ngModel)]="client.name">
</div>
<div class="form-group">
    <label>Adresa</label>
    <input type="text" class="form-control" [readonly]="true" [(ngModel)]="client.address">
</div>
<div class="form-group">
    <label>Oras</label>
    <input type="text" class="form-control" [readonly]="true" [(ngModel)]="client.city">
</div>
