<div class="row border-bottom-outline">
    <div class="col-md-6 col-sm-12 col-xs-12"><h1>Clienti</h1></div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="input-group" style="margin-top: 24px">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="...cauta dupa nume">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" (click)="refreshList()"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb" style="margin: 0.25em 0;">
            <li><a [routerLink]="['/client']">Adauga client</a></li>
        </ol>
    </div>
</div>
<p *ngIf="!clients"><em>Lista de clienti se incarca...</em></p>
<table class="table" *ngIf="clients">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Oras</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td><a [routerLink]="['/clientView/' + client.no]">{{client.no}}</a></td>
            <td>{{ client.name }}</td>
            <td>{{ client.city }}</td>
        </tr>
    </tbody>
</table>