<h1>Project Tracker</h1>
<p>ARGGO PROJECT TRACKER este o aplicație web dedicată companiilordin mediul IT,ca suport pentru managementul activităților  pe proiecte. Funcționalitatea de bazăeste alocarea și managementul  incidentelor, bug-urilor sau cerințelor care apar pe  parcursul unui proiect. Poate fi utilizatăpentruorice tip de proiect: implementare, suport, upgrade, aplicații web sau proiecte de mentenanță/suport tehnic și hardware. Platformava fi mijloc principal de comunicare între clienti, manageri de proiect,consultanții de businessși dezvoltatori. Aplicatia va fi integrată cu Microsoft Dynamics NAV 365 ( Tenerife)prin intermediul serviciilor webde tip SOAP. </p>
<br>
<ul>
    <li>
        Utilizatori cheie:<br>
        <br>
            Principali: Manageri de proiect, Team leaderi, Consultanti, Dezvoltatori<br>
            Secundari: Clienti<br>
        <br>
        <br>
    </li>
    <li>
        Scop:<br>
            -Tool pentru urmarirea activitatilor de proiecte pentru managerii de proiect<br>
            -Platforma de comunicare intre echipele de proiect, manageri, dezvoltatori si consultanti de business<br>
            -Interfata intre furnizorul software si clientii acestuia<br>
        <br>
        <br>
    </li>
    <li>
        Cerinte functionale:<br>
            -Managementul clientilor: lista de clienti, posibilitate de editare informatii, creare client, detalii clienti<br>
            -Managementul proiectelor: lista de proiecte, posibilitate adaugare proiect si de actualizare a datelor proiectelor existente, detalii proiecte<br>
            -Posibilitate vizualizare in cadrul proiectelor a taskurilor asociate<br>
            -Managementul taskurilor: lista taskurilor, detalii taskuri, posibilitate de creare taskuri si actualizare informatii<br>
            -Vizualizare situatii legate de proiecte si taskuri<br>
        <br>
        <br>
    </li>
</ul>
